<!-- templates/candidate/candidate_confirm_delete.html -->
{% extends 'layouts/navbar.html' %}

{% load bootstrap5 %}
 
{% block title %}Delete {{ object.user.user.username }}{% endblock %}

{% block content %}
<h1>Are you sure you want to delete {{ object.user.user.username }}?</h1>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'candidate-detail' object.pk %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
