<!-- templates/candidate/candidate_list.html -->
{% extends 'layouts/navbar.html' %}

{% load bootstrap5 %}
 
{% block title %}Candidates{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Candidates</h1>
    <a href="{% url 'candidate-create' %}" class="btn btn-primary">Add New Candidate</a>
</div>
<div class="list-group">
    {% for candidate in object_list %}
    <a href="{% url 'candidate-detail' candidate.pk %}" class="list-group-item list-group-item-action bg-dark text-white">
        {{ candidate.user.user.username }}
    </a>
    {% endfor %}
</div>
{% endblock %}
