{% extends 'layouts/navbar.html' %}
{% load bootstrap5 %}

{% block title %}My Feedback{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>My Feedback</h2>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Job Title</th>
          <th scope="col">Feedback</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in feedback_list %}
          <tr>
            <td>{{ feedback.application.job_posting.title }}</td>
            <td>{{ feedback.feedback }}</td>
            <td>{{ feedback.created_at }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No feedback available.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
