{% extends 'layouts/navbar.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Добро пожаловать на наш Платформу Трудоустройства!</h1>
    <h2 class="text-center">Найдите свою идеальную работу или кандидата уже сегодня</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Для Компаний</h3>
            <p>Ваш бизнес заслуживает лучших специалистов. Наша платформа предоставляет вам возможность найти кандидатов, которые идеально соответствуют вашим требованиям и культурным ценностям вашей компании.</p>
            <ul>
                <li><strong>Разместите вакансии</strong>: Опишите вакансию, укажите требования и начните привлекать талантливых кандидатов.</li>
                <li><strong>Просматривайте резюме</strong>: Получайте доступ к резюме, которое подходит именно вам.</li>
                <li><strong>Оценка кандидатов с помощью AI</strong>: Наши алгоритмы помогут вам быстро и эффективно оценивать резюме, предоставляя объективные оценки и рекомендации.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Для Кандидатов</h3>
            <p>Ищете работу своей мечты? Мы поможем вам найти её! Зарегистрируйтесь на нашей платформе и получите доступ к сотням вакансий от ведущих компаний.</p>
            <ul>
                <li><strong>Создайте профиль</strong>: Заполните информацию о себе и своих навыках.</li>
                <li><strong>Загрузите резюме</strong>: Позвольте работодателям увидеть ваши достижения и опыт.</li>
                <li><strong>Подайте заявки</strong>: Легко отправляйте свои резюме на интересующие вас вакансии.</li>
                <li><strong>Обратная связь и рекомендации</strong>: Получите подробную обратную связь и советы по улучшению своего резюме от нашего AI.</li>
            </ul>
        </div>
    </div>
    <hr>
    <h3>Наши преимущества</h3>
    <ul>
        <li><strong>Умные алгоритмы подбора</strong>: Наши технологии помогут вам найти наилучшее соответствие между кандидатами и вакансиями.</li>
        <li><strong>Простота использования</strong>: Интуитивно понятный интерфейс и удобная навигация.</li>
        <li><strong>Безопасность данных</strong>: Мы обеспечиваем высокую степень защиты ваших личных данных.</li>
    </ul>
    <hr>
    <h3 class="text-center">Начните сегодня</h3>
    <p class="text-center">Присоединяйтесь к нашей платформе и начните свой путь к успешной карьере или найму талантливых специалистов.</p>
    <hr>
    <p class="text-center"><a href="/register" class="btn btn-primary">Зарегистрируйтесь сейчас и получите доступ ко всем возможностям платформы!</a></p>
</div>
{% endblock %}